<!doctype html>

<html>



<head>

<title>Dashboard</title>

</head>



<body>

<h3>Hello {{user.username}}</h3>

<p>Welcome to your restaurant database</p>

<p>Here is the information we have on file for you:</p>

<h4>username: </h4>

<h4>email: {{user.email}}</h4>

<a href="/search">Search</a>
<a href="/add">Add</a>
<a href="/update">Update</a>
<a href="/delete">Delete</a>
<a href="/logout">Logout</a>


</body>



</html>