<form method="POST" action="/new/login">
  <label for="email: "></label>
  Email: <input type="text" name="email" placeholder="Enter email" /></br>
  <label for="password: "></label>
  Password: <input type="text" name="password" placeholder="Enter password" /></br>
  <input type="submit" id="submit" />
</form>
