<form method="POST" action="/new/signin">
  <label for="username: "></label>
  Username: <input type="text" name="username" placeholder="Enter username" /></br>
  <label for="email: "></label>
  Email: <input type="text" name="email" placeholder="Enter email" /></br>
  <label for="password: "></label>
  Password: <input type="text" name="password" placeholder="Enter password" /></br>
  <label for="age: "></label>
  RetypePassword: <input type="text" name="password2" placeholder="Enter password again" /></br>
  <label for="age: "></label>
  Your age: <input type="text" name="age" placeholder="Enter your age" /></br>
  <input type="submit" id="submit" />
</form>
